# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL 
4. Julia

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. Matplotlib

Data Science Tools:
1. Jupyter Notebook
2. RStudio
3. Apache Zeppelin

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This is a simple arithmetic expression to multiply then add integers.
(3 * 4) + 5

17

In [3]:
# This will convert 200 minutes to hours by dividing by 60.
200 / 60

3.3333333333333335

**Objectives:**

- List popular languages for Data Science
- Demonstrate how to create and format Markdown cells in Jupyter Notebook
- Show examples of evaluating arithmetic expressions in Python
- Explain the use of various Data Science tools
- Convert time units from minutes to hours

## Author

Samuel Darling